# 1. Import libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 2. Import data

In [2]:
#Define path
path = r'C:\Users\astat\Documents\Instacart Basket Analysis'

In [3]:
#Import data
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# 3. Review data

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
#Info on df number of rows and columns and data types
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

# 4. Clean data

In [6]:
#Rename columns
customers.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)
customers.rename(columns = {'STATE' : 'state'}, inplace = True)
customers.rename(columns = {'fam_status' : 'family_status'}, inplace = True)
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)
customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [7]:
customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependants', 'family_status', 'income'],
      dtype='object')

# 5. Consistency checks

In [8]:
#Check for missing values
customers.isnull().sum()

user_id                     0
first_name              11259
surname                     0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependants        0
family_status               0
income                      0
dtype: int64

In [9]:
#Show missing values
customers['first_name'].value_counts(dropna = False)

NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: first_name, Length: 208, dtype: int64

In [10]:
#Creating subset for duplicates
df_dups = customers[customers.duplicated()]

In [11]:
df_dups.head()

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependants, family_status, income]
Index: []

In [12]:
#Find columns with mixed data types
for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [13]:
#Change data type
customers['first_name'] = customers['first_name'].astype('str')

# 6. Combine data

In [14]:
#Import data
df_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped.pkl'))

In [15]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 26 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0_x           int64
 1   order_id               int32
 2   user_id                int32
 3   order_number           int8
 4   orders_day_of_week     int8
 5   order_hour_of_day      int8
 6   days_since_last_order  float16
 7   product_id             int32
 8   add_to_cart_order      int32
 9   reordered              int8
 10  Unnamed: 0_y           int64
 11  product_name           object
 12  aisle_id               int64
 13  department_id          int64
 14  prices                 float64
 15  _merge                 category
 16  price_range            object
 17  busiest_day            object
 18  busiest_days           object
 19  busiest_period_of_day  object
 20  max_order              int8
 21  loyalty_flag           object
 22  mean_spending          float64
 23  spending_flag          object
 24  order_frequency        float16
 25  frequency_flag         object
dtypes: category(1), float16(2), float64(2), int32(4), int64(4), int8(5), object(8)
memory usage: 4.4+ GB

# Plan A

In [16]:
#Drop _merge & unnamed
df_merge = df_merge.drop(columns = ['_merge'])
df_merge = df_merge.drop(columns = ['Unnamed: 0_y'])
df_merge = df_merge.drop(columns = ['Unnamed: 0_x'])

In [17]:
# Change types 
df_merge['order_id']=df_merge['order_id'].astype('int32')
df_merge['user_id'] = df_merge['user_id'].astype('int32')
df_merge['order_number']=df_merge['order_number'].astype('int8')
df_merge['orders_day_of_week']=df_merge['orders_day_of_week'].astype('int8')
df_merge['order_hour_of_day']=df_merge['order_hour_of_day'].astype('int8')
df_merge['days_since_last_order']=df_merge['days_since_last_order'].astype('float16')

In [18]:
df_merge['product_id'] =df_merge['product_id'].astype('int32')
df_merge['reordered']=df_merge['reordered'].astype('int8')
df_merge['add_to_cart_order']=df_merge['add_to_cart_order'].astype('int32')

In [19]:
df_merge['order_id']=df_merge['order_id'].astype('int32')
df_merge['aisle_id'] = df_merge['aisle_id'].astype('int8')

In [20]:
df_merge['department_id'] = df_merge['department_id'].astype('int8')
df_merge['prices'] = df_merge['prices'].astype('float32')

In [21]:
df_merge['mean_spending'] = df_merge['mean_spending'].astype('float16')

In [22]:
customers['age'] = customers['age'].astype('int8')
customers['number_of_dependants'] = customers['number_of_dependants'].astype('int8')
customers['income'] = customers['income'].astype('int32')
customers['user_id'] = customers['user_id'].astype('int32')

In [23]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   product_name           object
 10  aisle_id               int8
 11  department_id          int8
 12  prices                 float32
 13  price_range            object
 14  busiest_day            object
 15  busiest_days           object
 16  busiest_period_of_day  object
 17  max_order              int8
 18  loyalty_flag           object
 19  mean_spending          float16
 20  spending_flag          object
 21  order_frequency        float16
 22  frequency_flag         object
dtypes: float16(3), float32(1), int32(4), int8(7), object(8)
memory usage: 3.2+ GB

In [24]:
df_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spending,spending_flag,order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer

In [25]:
#Merge
df_merged = customers.merge(df_merge, on = 'user_id', how = 'inner',indicator = True)

In [26]:
#Checking match
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
df_merged.head()

,user_id,first_name,surname,gender,state,age,date_joined,number_of_dependants,family_status,income,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spending,spending_flag,order_frequency,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both

# 7. Exporting data

In [28]:
#Exporting merged data
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customers.pkl'))